/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *





 */

#topPurple {
  background: #2e1556;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2e1556 0%, #4815a0 32%, #4815a0 71%, #2e1556 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e1556), color-stop(32%, #4815a0), color-stop(71%, #4815a0), color-stop(100%, #2e1556));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2e1556 0%, #4815a0 32%, #4815a0 71%, #2e1556 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2e1556 0%, #4815a0 32%, #4815a0 71%, #2e1556 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2e1556 0%, #4815a0 32%, #4815a0 71%, #2e1556 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2e1556 0%, #4815a0 32%, #4815a0 71%, #2e1556 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e1556', endColorstr='#2e1556',GradientType=0 );
  /* IE6-9 */ }

#mid-nav {
  background: #edece2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #edece2 0%, #d3d3cb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edece2), color-stop(100%, #d3d3cb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #edece2 0%, #d3d3cb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #edece2 0%, #d3d3cb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #edece2 0%, #d3d3cb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #edece2 0%, #d3d3cb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edece2', endColorstr='#d3d3cb',GradientType=0 );
  /* IE6-9 */ }

#mid-nav a:hover {
  background: #dfdddb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dfdddb 0%, #a9a89f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfdddb), color-stop(100%, #a9a89f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dfdddb 0%, #a9a89f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dfdddb 0%, #a9a89f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dfdddb 0%, #a9a89f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #dfdddb 0%, #a9a89f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdddb', endColorstr='#a9a89f',GradientType=0 );
  /* IE6-9 */
  border-radius: 0 !important; }

#lower-nav {
  background: #2c0458;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2c0458 0%, #721dcb 50%, white 50%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c0458), color-stop(50%, #721dcb), color-stop(50%, white), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2c0458 0%, #721dcb 50%, white 50%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2c0458 0%, #721dcb 50%, white 50%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2c0458 0%, #721dcb 50%, white 50%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2c0458 0%, #721dcb 50%, white 50%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c0458', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.buckets {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #fcfcfc 78%, #ebeae4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(78%, #fcfcfc), color-stop(100%, #ebeae4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #fcfcfc 78%, #ebeae4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #fcfcfc 78%, #ebeae4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #fcfcfc 78%, #ebeae4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #fcfcfc 78%, #ebeae4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebeae4',GradientType=0 );
  /* IE6-9 */ }

.btn-green {
  background: #acb761;
  /* Old browsers */
  background: -moz-linear-gradient(top, #acb761 0%, #abb959 29%, #abb959 45%, #616a2c 56%, #616a2c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acb761), color-stop(29%, #abb959), color-stop(45%, #abb959), color-stop(56%, #616a2c), color-stop(100%, #616a2c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #acb761 0%, #abb959 29%, #abb959 45%, #616a2c 56%, #616a2c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #acb761 0%, #abb959 29%, #abb959 45%, #616a2c 56%, #616a2c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #acb761 0%, #abb959 29%, #abb959 45%, #616a2c 56%, #616a2c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #acb761 0%, #abb959 29%, #abb959 45%, #616a2c 56%, #616a2c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acb761', endColorstr='#616a2c',GradientType=0 );
  /* IE6-9 */ }

.btn-orange {
  background: #d49949;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d49949 0%, #d49949 29%, #d49949 45%, #a5702b 56%, #a5702b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d49949), color-stop(29%, #d49949), color-stop(45%, #d49949), color-stop(56%, #a5702b), color-stop(100%, #a5702b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d49949 0%, #d49949 29%, #d49949 45%, #a5702b 56%, #a5702b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d49949 0%, #d49949 29%, #d49949 45%, #a5702b 56%, #a5702b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d49949 0%, #d49949 29%, #d49949 45%, #a5702b 56%, #a5702b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d49949 0%, #d49949 29%, #d49949 45%, #a5702b 56%, #a5702b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d49949', endColorstr='#a5702b',GradientType=0 );
  /* IE6-9 */ }

.btn-steel {
  background: #92c4d6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #92c4d6 0%, #84aab9 46%, #637883 56%, #637883 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92c4d6), color-stop(46%, #84aab9), color-stop(56%, #637883), color-stop(100%, #637883));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #92c4d6 0%, #84aab9 46%, #637883 56%, #637883 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #92c4d6 0%, #84aab9 46%, #637883 56%, #637883 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #92c4d6 0%, #84aab9 46%, #637883 56%, #637883 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #92c4d6 0%, #84aab9 46%, #637883 56%, #637883 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92c4d6', endColorstr='#637883',GradientType=0 );
  /* IE6-9 */ }

.date {
  background: #d8774b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d8774b 0%, #d8774b 46%, #9a3c17 56%, #9a3c17 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8774b), color-stop(46%, #d8774b), color-stop(56%, #9a3c17), color-stop(100%, #9a3c17));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d8774b 0%, #d8774b 46%, #9a3c17 56%, #9a3c17 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d8774b 0%, #d8774b 46%, #9a3c17 56%, #9a3c17 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d8774b 0%, #d8774b 46%, #9a3c17 56%, #9a3c17 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d8774b 0%, #d8774b 46%, #9a3c17 56%, #9a3c17 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8774b', endColorstr='#9a3c17',GradientType=0 );
  /* IE6-9 */ }


.ci-no-padding-left {
  padding-left: 0; }

#topPurple {
  min-height: 360px; }

/*.ci-hero-images {
  margin-left: -55px;
  border: 1px solid red; }*/

/*.hero-content {
  margin-left: -0px;
  border: 1px solid red;
  padding: 0; }*/

#mid-nav {
  background: url("arrow2.png") -80px -2px no-repeat #efefef; }

#mid-nav {
  margin-bottom: -10px;
  border: none;
  height: 42px;
  border-radius: 0px;
  padding-top: 1px;
  border-bottom: 1px solid #cdcdcd; }

ul.nav.ci {
  margin-left: -30px !important; }


.navbar-nav > li > a {
  padding: 10px 35px 10px 35px !important;
  text-decoration: none;
  color: #000000 !important; }

.navbar-nav > li > a:hover {
  border-bottom: 1px solid #cdcdcd;
  color: rgba(0, 0, 0, 0.5) !important; }

.navbar-text {
  padding: 0;
  height: 38px;
  margin-top: -2px;
  margin-right: 90px;
  color: #ffffff !important;
  line-height: 42px;
  padding-left: 27px; }

/*.nav .nav-pills {*/
  /*padding-right: 10px;
  padding-left: 10px;*/
  /*border: 1px solid red; }*/

/*.navbar-nav .nav-pills > li > a {
  border: 1px solid red; }*/

.navbar {
  min-height: 42px !important; }

.nav-tabs > li > a {
  color: #301b56;
  text-decoration: none;
  text-transform: uppercase;
  background: #fefefe;
  margin-right: 5px; }

.nav-tabs > li.active > a {
  color: #ffffff;
  background: #301b56;
  /* Old browsers */
  background: -moz-linear-gradient(top, #301b56 0%, #2f1655 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #301b56), color-stop(100%, #2f1655));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #301b56 0%, #2f1655 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #301b56 0%, #2f1655 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #301b56 0%, #2f1655 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #301b56 0%, #2f1655 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#301b56', endColorstr='#2f1655',GradientType=0 );
  /* IE6-9 */ }

.tabbox {
  background-image: url("http://wsu03-staging.herokuapp.com/images/tabbox.png");
  background-repeat: no-repeat;
  padding-top: 11px;
  overflow: hidden; }

#lower-wrapper {
  margin-top: -10px;
  background: url("tabbox.png") 0 0 repeat;
  padding-right: 0 !important;
  padding-left: 0 !important; }

.nav-tabs {
  padding: 0 88px 0 88px; }

.nav-tabs li a {
  padding-left: 3em;
  padding-right: 3em; }

.buckets {
  min-height: 200px;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  margin-bottom: 10px; }

.buckets h3 {
  margin-top: 0;
  float: left;
  width: 100%; }

.buckets img {
  display: block;
  float: left; }

.buckets p {
  font-size: 12px;
  line-height: 1.5em;
  float: left;
  min-height: 100px;
  margin-top: 0em;
  padding: 0 !important;
  color: #5c5959; }

.buckets .full {
  width: 100% !important;
  padding-left: 0px; }

.buckets button {
  width: 100%;
  text-transform: uppercase;
  border: none;
  text-shadow: 1px 1px 1px 1px #000; }

.bucket-event {
  min-height: 50px;
  padding: 6px 0px 6px 0;
  margin: 0 3px 0 3px;
  border-bottom: 1px dotted black;
  font-size: 12px; }

.buckets a {
  text-decoration: none; }

.buckets .date {
  font-size: 10px;
  border: 1px solid #9a3c17;
  margin-top: -4px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 2px;
  color: #ffffff;
  border-radius: 4px; }

.buckets .date span {
  font-size: 17px; }

.buckets .date a {
  color: #ffffff; }

.buckets .date a:hover {
  color: #f5cbbb; }

.buckets {
  left: -1000px;
  animation: slidein .5s forwards;
  -webkit-animation: slidein .5s forwards; }

@-webkit-keyframes slidein {
  100% {
    left: 0; } }

@keyframes slidein {
  100% {
    left: 0; } }

.steel {
  color: #607883; }

.orange {
  color: #b87928; }

.green {
  color: #626829; }
/* small devices (tablets) only */

@media (min-width: 768px) and (max-width: 991px) {
  /*body {border:3px solid blue !important;}*/

/* CI STYLES ************ START */

#topPurple {
  height: 660px;  /*to prevent jump -- roundabout still jumps' */
}

.myContent-inner {
  width:640px;
  margin-left:38px;
}

.myContent-inner h1 {
  margin-top:-2em !important;
}

.c1 img, .c2 img, .c3 img, .c4 img {
  padding-top:25px !important;
  padding-left:53px !important;
}

#horz-roundabout {
  position:relative;
  margin:0 auto 0 auto;
  left:33%;
}

#horz-roundabout #myRoundabout li {
  width:102px !important;
}

#horz-roundabout #next {
  position:absolute !important;
  z-index: 10000 !important;
  top:41px !important;
  left: 300px !important;
  display:block !important;
}

#horz-roundabout #previous {
  position:absolute !important;
  z-index: 10000 !important;
  top:40px !important;
  left: -70px !important;
  display:block !important;
} 

#mid-nav {
 
  background-image:none !important;
}

#mid-nav ul {
  margin-left:73px !important;
  font-size:10px !important;
}

#mid-nav .nav .navbar-nav {
  background-color:blue !important;
  border:1px solid red;
}

#mid-nav .navbar-default .navbar-nav > li > a {
  font-size:10px !important;
  padding:0 20px;
  color:red !important;
}

.buckets button {
  bottom:14px !important;
}

#lower-wrapper {
  margin-top:10px;
  
}

/* CI STYLES ************ END */




.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 20px;
}
ul.bs-docs-sidenav  {
  padding-bottom:20px;
  background-color:#f2f0ed;
}
.colright  {
  padding-top:20px;
}
#wsu-footer #sm4 p{
  display:inline-block;
  padding-right:22px;
  padding-top:10px;
  padding-bottom:10px;
  }
}

/* Medium devices (desktops, 992px and under) */
@media (max-width: 991px) {
.wsu-colleft {
  margin-right: 0%;
  width: 100%
}
.wsu-colright {
  margin-left: 0%;
  width: 100%
  }
}

/* Small devices (tablets, 768px and under) */
@media (max-width: 767px) {
/*body {border:1px solid yellow !important;}*/
h1 {
  margin-top: 3px;
}

/* CI STYLES ************ START */

#topPurple {
  max-height: 710px !important; /* to prevent jump -- roundabout still jumps' */
}

#mid-nav {
  background-image:none;
}

#mid-nav .nav > li {
  width:100%;
  left:20px;
}

.myContent-inner h1 {
  margin-top:0em !important;
  padding-top:10px !important;
}

.buckets {
  width:100%;
}

.buckets button {
  bottom:14px !important;
}

#lower-nav {
  margin-top:27px;
}



.lower-tabs {padding:0;}
#lower-wrapper {padding:4px;position:relative;}

#myTab {position:absolute;left:38px;top:10px;width:98%;}

.nav-tabs {font-size:11px;
  padding:0;margin-left:21px;}
.nav-tabs ul {}
#lower-wrapper .nav-tabs li {width:33.0%;}
#lower-wrapper .nav-tabs li a {padding-left:0px !important;padding-right:0px !important;text-align:center;margin-right:1px;}
.nav-tabs li.active a {}
.nav-tabs li {
}

.c1 img, .c2 img, .c3 img, .c4 img {
  /*padding-top:25px !important;*/
  /*padding-left:45px !important;*/
  width:100%;
}

.myContent-inner h1, .myContent-inner p {
  padding:10px
}

#horz-roundabout {
  position:relative;
  margin:25px auto 0 auto;
  padding-top:5px;
}

#horz-roundabout ul {
  position:absolute;
  margin:0 auto 0 auto;
}

#horz-roundabout #myRoundabout li {
  width:102px !important;

}

#horz-roundabout #next {
  position:absolute !important;
  right:5%;
  top:40px;
  z-index: 10001 !important;
  display:block !important;
}

#horz-roundabout #previous {
  position:absolute !important;
  top:40px;
  left: 5% !important;
  display:block !important;
} 

#lower-wrapper {
  padding-top:20px;
  margin-top:10px;
}

.navbar-header button {
  margin-top:2px;
}

#mid-nav {
  position:relative;
  z-index:19000;
}

#mid-nav #bs-example-navbar-collapse-1 {
  background-color:#cdcdcd;
}




/* CI STYLES ************ END */

#wsu-footer br {
  display: none;
}
#wsu-footer h3 {
  margin-bottom: 0px;
}
#wsu-footer h3 a {
  font: bold 18px/24px arial, hevetica;
  color: #481e9e;
  margin-top: 0px;
}
#wsu-footer p {
  font-size: 13px;
  line-height: 22px;
}
#wsu-footer p a {
  text-decoration: underline;
  color: #6B6866;
  padding-right: 7px;
}

#wsu-footer {

}
#wsu-footer-global {
  /*margin: 15px 15px;*/
}
.smicon {
  margin: 20px 15px 0px 0px;
  font-size: 20px;
  float: left;
}
.smlink {
  display: none;
}
.navbar-default {
  min-height: 0px;
}
.navbar {
  position: static;
}
.navbar .divider-vertical {
  display: none;
}
.navbar .nav {
  margin: 0px;
}
.navbar .nav > li a {
  border-bottom: 1px solid #553092;
  padding: 12px 19px;
}
.dropdown-menu {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  padding: 10px 15px 10px 38px;
  color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-color: #553092;
}
.col-md-12 {
  position: static;
}
.col-md-6 {
  margin: 10px 15px 15px 15px;
  margin: 10px 5px 15px 5px;
}
.wsu-colleft {
  margin-right: 0%;
  width: 70%
}
.wsu-colright {
  width: auto;
}
.wsu-img-home {
  width: 150px;
  margin: 5px;
}
.btn-primary {
  color: #ffffff;
  background-color: #5324a2;
  border-color: #5324a2;/*padding-bottom:2px;*/
}
.btn-primary:focus {
  color: #ffffff;
  background-color: #5324a2;
  border-color: #5324a2;
}
#nav-slide {
/*left:-16px;
top:0px;
position:absolute;
border-bottom-left-radius: 0px;
border-top-left-radius: 0px;
padding-left:2px;*/
}
#search {
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
#search .navbar-form {
  border: none;
  margin-bottom: 0px;
}
#sm4 {
  display: none;
}
#wsu-footer-global .col-md-2 {
  margin-bottom: 10px;
}
.img-responsive {
  /*ie fix*/
  clear:left;
}
}


/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

#wsu-resources {
  display: none !important;
}

/* CI STYLES ************ START */

/*body {border:4px solid green;}*/

#mid-nav ul {
  margin-right:0;
}

#mid-nav .navbar-nav > li > a {
padding:10px 10px !important;
}

#mid-nav .navbar-text {
  margin-right:5px !important;
  padding-left:0;
}

#lower-wrapper {
  padding-top:20px;
}

#horz-roundabout {
 
  position:relative;
  top:0px;
  margin-left:10px;
  padding-top:5px;
}


#horz-roundabout #next {
  
  position:absolute !important;
  top:49px;
  z-index: 10001 !important;
  right:-2px !important;
  display:block !important;
}

.c1 img, .c2 img, .c3 img, .c4 img {
  margin-left:5px;

}


/* CI STYLES ************ END */

#search {
  display: none !important;
}
ul.navbar-nav {
float:none;
display:table;
margin:0px auto;
}
.navbar-default .navbar-nav > li > a {
padding:10px 18px;
text-align: center;
}
.wsu-resources {
  float:right;
  padding-right: 20px;
}
.search {
  float:right;padding-right: 20px;padding-top:10px;
}
.wsu-container-footer {
  padding-left:20px;
}
.wsu-container-footer-global {
  padding-left:10px;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

/* CI STYLES ************ START */

  /*body {border:5px solid pink;}*/

#horz-roundabout {
  position:absolute;top:230px;left:13%;
}

#horz-roundabout #myRoundabout li {
  width:90px !important;
}

#horz-roundabout #next {
  position:absolute !important;
  z-index: 10000 !important;
  top:35px !important;
  right: 98px !important;
  display:block !important;
}

#horz-roundabout #previous {
  position:absolute !important;
  z-index: 10000 !important;
  top:35px !important;
  left:-50px !important;
  display:block !important;
} 

.roundabout-in-focus {
  width:90px;
}

.myContent-inner {
  margin-left:-20px;

}

.c1 img, .c2 img, .c3 img, .c4 img {
  padding-top:25px !important;
  padding-left:20px !important;

}

.myContent-inner h1 {
  padding-top:1em !important;
}

#lower-wrapper {
  padding-top:20px;
}

#mid-nav ul {
  margin-left:220px !important;
}

#mid-nav .navbar-nav > li > a {
padding:10px 20px !important;
/*border:1px solid red;*/
}

/* CI STYLES ************ END */

.navbar-default .navbar-nav > li > a {
padding:10px 40px;
}

.wsu-resources {
  float:left;padding-right: 20px;
}
.search {
  padding-right: 20px;padding-top:0px;
}
.wsu-facts {  background-color: #f2f0ed;}
.wsu-container-footer {
  padding-left:30px;
}
.wsu-container-footer-global {
  padding-left:30px;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

/* CI STYLES ************ START */

  /*body {border:4px solid purple;}*/

#horz-roundabout {
  position:absolute;top:230px;left:17% !important;
}

#horz-roundabout #myRoundabout li {
  width:102px !important;

}

#horz-roundabout #next {
  position:absolute !important;
  z-index: 10000 !important;
  top:41px !important;
  right: 165px !important;
  display:block !important;
}

#horz-roundabout #previous {
  position:absolute !important;
  z-index: 10000 !important;
  top:40px !important;
  left: -70px !important;
  display:block !important;
} 

.myContent-inner {
  margin-left:-50px;
}

.myContent-inner h1 {
  margin-top:1.15em !important;
}

.c1 img, .c2 img, .c3 img, .c4 img {
  padding-top:0px !important;
  padding-left:0px !important;

}

.navbar-default .navbar-nav > li > a {
padding:10px 60px;
}

#mid-nav .navbar-nav > li > a {
padding:10px 40px !important;
/*border:1px solid green;*/
}

#lower-wrapper {
  padding-top:20px;
}

/* CI STYLES ************ END */

.wsu-container-footer {
  padding-left:40px;
}
.wsu-container-footer-global {
  padding-left:40px;
}
    .search {
        float:left;
    }
}

@media only screen and (width:768px) {
body {font-size: 16px;line-height: 1.628571429;}

.glyphicon-leftnav {
top: 16px;
}


.dropdown-menu > li > a, .dropdown-menu > li > a:hover,  .dropdown-menu > li > a:focus {
padding: 9px 20px;
}

.wsu-facts p{
font-size: 15px;
}

.col-md-3 .nav li a.label_lr {
font-size: 18px;
}

.wsu-std-facts {
font-size: 17px;
}
.navbar-default .navbar-nav > li > a {
font-size: 16px;
padding:10px 11px;
}
.breadcrumb {
font-size: 14px;
line-height: 1.428571429; 
}
}
@media only screen and (width:1024px) {
body {font-size: 16px; line-height: 1.628571429;}

.glyphicon-leftnav {
top: 16px;
}


.dropdown-menu > li > a, .dropdown-menu > li > a:hover,  .dropdown-menu > li > a:focus {
padding: 10px 20px;
}

.wsu-facts p{
font-size: 15px;
}

.col-md-3 .nav li a.label_lr {
font-size: 18px;
}

.wsu-std-facts {
font-size: 17px;
}
.navbar-default .navbar-nav > li > a {
font-size: 16px;
padding:10px 31px;
}
.breadcrumb {
font-size: 14px;
line-height: 1.428571429; 
}

}
